section {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
section div {
	padding: 20px;
	border: 2px solid purple;
	border-radius: 12PX;
}
button {
	background-color: mediumpurple;
	width: 100%;
	height: 40px;
	border: 1px solid gray;
	border-radius: 8px;
}